pydrive2
tqdm 
matplotlib 
pandas 
numpy 
gdown 
google-api-python-client 
pyarrow 
scikit-learn
rasterio
scikit-image
PyWavelets
scipy
opencv-python-headless
torch
torchvision
captum
mrmr_selection

earthengine-api
geemap
folium
pillow
laspy
dash>=2.14.0 # old dash version is missing module
pdal
python-pdal
pyproj
lazrs
open3d